.container {
    max-width: 120rem;
    background-color: var(--color-grey-light-1);
    margin: 8rem auto;
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.content {
    display: flex;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: red;
    flex: 0 0 18%;
}

.hotel-view {
    flex: 1;
    background-color: blue;
}
